#container{width: 1000px;margin: auto;border: solid 0px;}

#actualBody {overflow:auto;padding-left:16px; padding-bottom: 5px;}

#header > .interior{height: 41px;}

#headerTop{height:30px;}
#headerBody{height:100px;}
#headerMenu{height:50px;} 

#footer{height: 50px;}

#leftmenu.c > .interior{width: 180px;}
#content.c > .interior{width: 455px;height: 450px;margin: 5px;margin-left:20px;}
#rightmenu.c > .interior{width: 260px;}

#footer ul{margin-left: 30px;padding-top:14px;}

#header .menu{padding-top: 0px; padding-left: 30px;} 

/* begin data grid style */
table.contributions{width: 100%;}
table.contributions th, table.contributions td{font-size: 0.9em; padding: 0.3em; border: 0px solid;}
table.contributions th{text-align: center;}
table.contributions th.label{width: 150px;}
/* end of data grid style */

/* Portlet 180 */
/* .portlet18 {display: none;} */
.portlet18 .header {width: 180px; height: 20px;padding-bottom: 0px; padding-left:10px; padding-top:7px;font-size:16px;margin-top:3px;}
.portlet18 .content {width: 180px;margin: 0px;}
.portlet18 .content ul{margin:0px;}
.portlet18 .content ul li div{margin-left:10px;}
.portlet18 .footer {width: 180px;height:10px;}

/* Portlet 300 */
/* .portlet30 {display: none;} */
.portlet30 .header {width: 300px; height: 20px;padding-bottom: 0px; padding-left:10px; padding-top:7px;font-size:16px;margin-top:3px;}
.portlet30 .content {width: 300px;margin:0px;}
.portlet30 .content ul{margin:0px;padding:10px;}
.portlet30 .content ul li{display:inline;}
.portlet30 .content ul li a{text-decoration: none;}
.portlet30 .footer {width: 300px;height:10px;}

.confirmation{width:300px; padding: 20px; margin: 20px auto 20px; border: solid 1px;}
.article{padding: 5px; border: solid 0px; margin-bottom: 10px;}
.article .title{border-bottom: solid 1px; margin-left: 5px; margin-right: 5px;font-weight: bold;}
.free{padding: 10px; }
.free p{margin-bottom: 0px;}

#cloudTag{width:450px;text-align:center;float:right;padding:0px; padding-right: 50px;}
#cloudTag a{text-decoration:none;}
.tag{border: dashed 1px;padding: 2px; margin: 2px;}

.row{border-top: dashed 1px; margin: 3px;padding: 10px;}