.menu ul{
	padding: 0;
	margin: 0;
	padding: 0.4em 0 0.3em 0;
}

.menu ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.menu ul li a:hover, .menu ul li a.active{
	color: #6399cd;
}

.menu ul li{
	display: inline;
}

.menu ul li div {
	padding: 0.3em;
	/* background: url(../images/przycisk3.gif) no-repeat; */
	width: 150px;
}